@use 'variables' as *;
@use 'sass:color';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: inherit;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary-color;
    color: white;
    

    &:hover:not(:disabled) {
      background-color: $primary-dark;
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: white;

    &:hover:not(:disabled) {
      background-color: color.adjust($secondary-color, $lightness: -10%);
    }
  }

  &.success {
    background-color: $success-color;
    color: white;
  }

  &.danger {
    background-color: $danger-color;
    color: white;
  }

  &.warning {
    background-color: $warning-color;
    color: white;

    &:hover:not(:disabled) {
      background-color: color.adjust($warning-color, $lightness: -10%);
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid $border-color;
    color: $white-text-color;

    &:hover:not(:disabled) {
      background-color: $background-color;
      color: $text-color;
    }
  }

  &.details {
    background-color: $background-color;
    color: $text-color;
    outline: 1px solid $border-color;
    

    &:hover:not(:disabled) {
      background-color: $primary-dark;
      color: white;
    }
  }

  &.sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
  }

  &.lg {
    padding: 0.875rem 1.75rem;
    font-size: 1rem;
  }

  &.block {
    width: 100%;
    display: flex;
  }
}
