@use 'variables' as *;

.container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: flex-end;

  @include mobile {
    flex-direction: column;
    align-items: stretch;
  }
}

.filterItem {
  flex: 1;
  min-width: 200px;
}
