@use 'variables' as *;

.preview {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 0.5rem;
  padding: 0.75rem;
  background: $surface-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  box-shadow: $shadow-lg;
  z-index: 100;
  min-width: 250px;
  font-size: 0.875rem;

  @include mobile {
    display: none;
  }
}

.item {
  margin-bottom: 0.5rem;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  strong {
    display: block;
    margin-bottom: 0.25rem;
    color: $text-color;
  }
}
